
body {
    /* background: #000; */
    line-height: 2;
}

.c {
    color: #fff;
    opacity: 0
    
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  /*animation-name: fadeIn;*/
  animation: fadeIn 1s both;

}

.content {
    font-size: 40px;
    padding: 100px 0;
    text-align: center ;
    width: 100%;
    margin: 0 auto;
    
}
.tinh {
  color:rgb(224, 217, 218);
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  animation: typing 2s step(50);
}
@keyframes typing{
  from{
    width:0;
  }
  to{
    width: 100%;
  }

}

.animated {
  /*animation-duration: 1s;*/
   /*animation-fill-mode: both;*/
}
